MYSQL_HOST=20.195.112.209
MYSQL_PORT=6033
MYSQL_USER=alpha_readonly
MYSQL_PASSWORD=Ym94rWsLLNcRWRsD
MYSQL_DB=nafas_mydevice

PG_HOST=4.144.141.244
PG_PORT=5432
PG_USER=alpha_readonly
PG_PASSWORD=Ym94rWsLLNcRWRsD
PG_DB=neondb

MONGO_HOST=20.24.141.186
MONGO_PORT=27017
MONGO_USER=alpha_readonly
MONGO_PASSWORD=Ym94rWsLLNcRWRsD
MONGO_AUTH_DB=admin
MONGO_DB=billing

PORT=8000
HOST=0.0.0.0
CACHE_TTL_SECONDS=300
